<div class="login_class" style="background-color:#8bbb4b;">
			<div class="container" style="background-color:#24323d;;margin:auto;height:315px;max-width:441px;padding:0">
				<div class="but-button row" style="margin: 29px 29px 38px 29px;height: 45px;" >
					<div class="signup" style="display: inline-block;height:45px;min-width:189px;background-color:#1ab188;"><h3>SignUp</h3></div>
					<div class="login" style="display: inline-block;height:45px;min-width:189px;background-color:gray;"><h3>Login</h3></div>

				</div>
				<div class="container"  style=" padding: 0; width: auto;">
					<div class="form-group form-inline" style="margin-left: 30px;width: 382px;">
						
						<input type="text" class="form-control" placeholder="first name" id="first_name" ng-model="register.first_name" style="width: 189px;">
						<input type="text" class="form-control" placeholder="last name" id="last_name" ng-model="register.last_name" style="width: 189px;">
					</div>
					<div class="form-group" style="width:381px;margin:auto;margin-bottom: 15px;">
						
						<input type="text" class="form-control" ng-model="register.email" placeholder="Email" id="email">
					</div>
					<div class="form-group" style="width:381px;margin:auto;margin-bottom: 15px;">	
						<input type="text" class="form-control" ng-model="register.password" placeholder="password" id="password">
					</div>
					<div class="form-group" style="width:381px;margin:auto;margin-bottom: 15px;">	
						<input type="submit" class="btn btn-warn" ng-click="submit()" placeholder="submit" style="width:381px">
					</div>
						



					</div>	


				</div>

			</div>	